---
language: java
jdk:
  - oraclejdk8

sudo: false

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - alxdvcv@gmail.com
    on_success: never
    on_failure: always